@model IEnumerable<BibliotecaGustavoGtz.Models.Domain.Book>

@{
    Layout = "_LayoutDashboard";
}

<div class="row">
    @foreach (var book in Model)
    {
        <div class="col-md-4 mb-4">
            <!-- Card with image at the top -->
            <div class="card mb-3">
                <img class="card-img-top" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhYHoo0-g0iC387H1SH3xTW15-BKLSkAAPD_53x3tVMR4TufCoceo6A5KXzhb_s2idB7OyqJlIs0r6aYv8zyJ8aNypPOEeXdEPx4XyRV1f8AhjUjUwChacp9NXNGRrhZ3fvRviIQwLqdIsX/s1600/libro.png"
                     alt="Imagen de libro"
                     class="card-img-top"
                     style="object-fit: cover; height: 210px;">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 1.5rem; font-weight: 600; color: #2c3e50;">@book.Name_book</h5>
                    <p class="card-text" style="font-size: 1rem; color: #7f8c8d;">Autor: @book.Authors.Name_author</p>
                    <p class="card-text" style="font-size: 1rem; color: #7f8c8d;">Categoría: @book.Topics.Name_topic</p>
                    <a href="@Url.Action("Details", "Books", new { id = book.PkBook })"
                       class="btn btn-secondary"
                       style="background-color: #33ff42; border: none; border-radius: 10px; padding: 12px 25px; font-size: 1rem; transition: background-color 0.4s ease, transform 0.3s ease;">
                        Detalles
                    </a>
                </div>
            </div>

            <!-- Card with image at the bottom -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 1.5rem; font-weight: 600; color: #2c3e50;">@book.Name_book</h5>
                    <p class="card-text" style="font-size: 1rem; color: #7f8c8d;">Autor: @book.Authors.Name_author</p>
                    <p class="card-text" style="font-size: 1rem; color: #7f8c8d;">Categoría: @book.Topics.Name_topic</p>
                    <a href="@Url.Action("Details", "Books", new { id = book.PkBook })"
                       class="btn btn-secondary"
                       style="background-color: #33ff42; border: none; border-radius: 10px; padding: 12px 25px; font-size: 1rem; transition: background-color 0.4s ease, transform 0.3s ease;">
                        Detalles
                    </a>
                </div>
                <img class="card-img-bottom" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhYHoo0-g0iC387H1SH3xTW15-BKLSkAAPD_53x3tVMR4TufCoceo6A5KXzhb_s2idB7OyqJlIs0r6aYv8zyJ8aNypPOEeXdEPx4XyRV1f8AhjUjUwChacp9NXNGRrhZ3fvRviIQwLqdIsX/s1600/libro.png"
                     alt="Imagen de libro"
                     class="card-img-bottom"
                     style="object-fit: cover; height: 210px;">
            </div>
        </div>
    }
</div>

